* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #f5f5f5; }

ul, li {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0; }
  .header .head-left {
    width: 18%; }
    .header .head-left img {
      width: 100%;
      height: 100%; }
  .header .head-center {
    width: 64%;
    background-color: white;
    padding: 0.3rem;
    border-radius: 20px; }
    .header .head-center i {
      color: #666; }
    .header .head-center input {
      outline: none;
      border: 0; }
  .header .head-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    color: white; }

.banner {
  width: 100%;
  height: 8.75rem; }
  .banner ul {
    width: 100%;
    height: 8.75rem; }
    .banner ul li {
      width: 100%;
      height: 8.75rem; }
      .banner ul li img {
        width: 100%;
        height: 100%; }

.nav {
  width: 100%;
  background-color: white; }
  .nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem; }
    .nav ul:nth-child(2) {
      padding-bottom: 0.9rem;
      border-bottom: 1px solid #e8e8e8; }
    .nav ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .nav ul li img {
        margin-bottom: 0.65rem; }
      .nav ul li p {
        font-size: 0.75rem;
        color: #333; }

.tu {
  width: 100%;
  margin-top: 0.25rem;
  border-top: 1px solid #e8e8e8;
  background-color: white;
  margin-bottom: 0.25rem; }
  .tu ul {
    width: 100%;
    display: flex; }
    .tu ul:nth-child(1) li {
      width: 33.3%;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e8e8e8; }
      .tu ul:nth-child(1) li img {
        margin-bottom: 0.9rem; }
      .tu ul:nth-child(1) li p {
        font-size: 0.75rem; }
      .tu ul:nth-child(1) li:nth-child(1) {
        border-right: 1px solid #e8e8e8;
        color: #e55b4f; }
      .tu ul:nth-child(1) li:nth-child(2) {
        border-right: 1px solid #e8e8e8;
        color: #43bd4d; }
      .tu ul:nth-child(1) li:nth-child(3) {
        color: #58bce1; }
    .tu ul:nth-child(2) li {
      width: 50%;
      height: 4.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e8e8e8; }
      .tu ul:nth-child(2) li:nth-child(1) {
        border-right: 1px solid #e8e8e8; }
    .tu ul:nth-child(3) li {
      width: 33.3%;
      height: 5.75rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;
      color: #333; }
      .tu ul:nth-child(3) li p {
        font-size: 0.75rem; }
      .tu ul:nth-child(3) li:nth-child(1) {
        width: 25%;
        border-right: 1px solid #e8e8e8; }
        .tu ul:nth-child(3) li:nth-child(1) img {
          margin-bottom: 0.9rem; }
      .tu ul:nth-child(3) li:nth-child(2) {
        width: 45%;
        border-right: 1px solid #e8e8e8; }
        .tu ul:nth-child(3) li:nth-child(2) img {
          margin-bottom: 0.2rem; }
      .tu ul:nth-child(3) li:nth-child(3) {
        width: 30%; }
        .tu ul:nth-child(3) li:nth-child(3) img {
          margin-bottom: 0.9rem; }
    .tu ul:nth-child(4) li {
      height: 8.8rem; }
      .tu ul:nth-child(4) li:nth-child(1) {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .tu ul:nth-child(4) li:nth-child(2) {
        width: 40%;
        display: flex;
        flex-direction: column; }
        .tu ul:nth-child(4) li:nth-child(2) div {
          width: 100%;
          height: 33.3%;
          display: flex;
          align-items: center;
          justify-content: flex-start; }
          .tu ul:nth-child(4) li:nth-child(2) div .right {
            margin-left: -4rem;
            display: flex;
            flex-direction: column; }
            .tu ul:nth-child(4) li:nth-child(2) div .right p:nth-child(1) {
              margin-left: -3rem;
              font-size: 0.75rem;
              color: #333; }
            .tu ul:nth-child(4) li:nth-child(2) div .right p:nth-child(2) {
              margin-left: 0.45rem;
              color: #999;
              font-size: 0.6rem; }

.tw {
  background-color: white;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  margin-bottom: 3rem; }
  .tw ul {
    width: 100%; }
    .tw ul li {
      border-bottom: 1px solid #e8e8e8; }
      .tw ul li:nth-child(1) {
        width: 100%;
        height: 2rem;
        border-left: 3px solid #ff9804;
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .tw ul li:nth-child(1) span:nth-child(1) {
          font-size: 0.8rem;
          color: #ff9804; }
        .tw ul li:nth-child(1) span:nth-child(2) {
          display: inline-block;
          height: 2rem;
          line-height: 2rem; }
      .tw ul li:nth-child(2) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(2) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(2) .ll img {
            width: 100%; }
        .tw ul li:nth-child(2) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(2) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(2) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(2) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(2) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(2) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(3) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(3) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(3) .ll img {
            width: 100%; }
        .tw ul li:nth-child(3) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(3) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(3) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(3) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(3) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(3) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(4) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(4) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(4) .ll img {
            width: 100%; }
        .tw ul li:nth-child(4) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(4) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(4) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(4) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(4) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(4) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(5) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(5) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(5) .ll img {
            width: 100%; }
        .tw ul li:nth-child(5) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(5) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(5) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(5) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(5) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(5) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(6) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(6) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(6) .ll img {
            width: 100%; }
        .tw ul li:nth-child(6) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(6) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(6) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(6) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(6) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(6) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(7) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(7) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(7) .ll img {
            width: 100%; }
        .tw ul li:nth-child(7) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(7) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(7) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(7) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(7) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(7) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(8) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(8) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(8) .ll img {
            width: 100%; }
        .tw ul li:nth-child(8) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(8) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(8) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(8) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(8) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(8) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(8) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(8) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(8) .ll img {
            width: 100%; }
        .tw ul li:nth-child(8) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(8) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(8) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(8) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(8) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(8) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(9) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(9) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(9) .ll img {
            width: 100%; }
        .tw ul li:nth-child(9) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(9) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(9) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(9) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(9) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(9) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(10) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(10) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(10) .ll img {
            width: 100%; }
        .tw ul li:nth-child(10) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(10) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(10) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(10) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(10) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(10) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(11) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(11) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(11) .ll img {
            width: 100%; }
        .tw ul li:nth-child(11) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(11) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(11) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(11) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(11) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(11) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(12) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(12) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(12) .ll img {
            width: 100%; }
        .tw ul li:nth-child(12) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(12) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(12) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(12) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(12) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(12) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(13) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(13) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(13) .ll img {
            width: 100%; }
        .tw ul li:nth-child(13) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(13) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(13) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(13) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(13) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(13) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(14) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(14) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(14) .ll img {
            width: 100%; }
        .tw ul li:nth-child(14) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(14) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(14) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(14) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(14) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(14) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(15) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(15) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(15) .ll img {
            width: 100%; }
        .tw ul li:nth-child(15) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(15) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(15) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(15) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(15) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(15) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(16) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(16) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(16) .ll img {
            width: 100%; }
        .tw ul li:nth-child(16) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(16) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(16) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(16) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(16) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(16) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(17) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(17) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(17) .ll img {
            width: 100%; }
        .tw ul li:nth-child(17) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(17) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(17) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(17) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(17) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(17) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(18) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(18) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(18) .ll img {
            width: 100%; }
        .tw ul li:nth-child(18) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(18) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(18) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(18) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(18) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(18) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(19) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(19) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(19) .ll img {
            width: 100%; }
        .tw ul li:nth-child(19) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(19) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(19) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(19) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(19) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(19) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(20) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(20) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(20) .ll img {
            width: 100%; }
        .tw ul li:nth-child(20) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(20) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(20) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(20) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(20) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(20) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }
      .tw ul li:nth-child(21) {
        padding: 0.55rem 1rem 1rem 0.4rem;
        display: flex; }
        .tw ul li:nth-child(21) .ll {
          width: 40%;
          height: 40%; }
          .tw ul li:nth-child(21) .ll img {
            width: 100%; }
        .tw ul li:nth-child(21) .rr {
          margin-left: 0.5rem; }
          .tw ul li:nth-child(21) .rr p:nth-child(1) {
            font-size: 0.75rem;
            color: #333;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(21) .rr p:nth-child(2) {
            font-size: 0.6rem;
            color: #999;
            margin-bottom: 0.5rem; }
          .tw ul li:nth-child(21) .rr p:nth-child(3) {
            font-size: 0.6rem;
            display: flex;
            justify-content: space-between; }
            .tw ul li:nth-child(21) .rr p:nth-child(3) span:nth-child(1) {
              color: #ff4377; }
            .tw ul li:nth-child(21) .rr p:nth-child(3) span:nth-child(2) {
              color: #666; }

footer {
  width: 100%;
  border-top: 1px solid #e8e8e8;
  height: 2.8rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: white; }
  footer ul {
    width: 100%;
    height: 2.8rem;
    display: flex;
    justify-content: space-around; }
    footer ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      footer ul li:nth-child(1) i {
        color: #ff6d97; }
      footer ul li:nth-child(1) p {
        color: #ff6d97; }
      footer ul li i {
        color: #777777;
        font-size: 0.75rem; }
      footer ul li p {
        color: #333;
        font-size: 0.6rem; }

/*# sourceMappingURL=index.css.map */
